{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

	    {% include 'message.html' %}

    <div class="container-fluid">
        <form method="post" action="{% url 'login' %}">
        	{% csrf_token %}

            <div class="form-group">
                <label for="username">User Name</label>
                <input type="text" class="form-control" id="username" aria-describedby="emailHelp" name="username">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck" name="logintype">
      <label class="form-check-label" for="gridCheck">
        I'm Admin
      </label>
    </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% endblock %}